.homeContainer{
    width: 100vw;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #dfe6e9;
}

.todoTypes{
    display: flex;
    gap:45px;
}

.todoTypes span {
    background-color: white;
    width: 70px;
    text-align: center;
    padding: 7px;
    border-radius: 7px;
}